<section class="main-container">
  <h2 class="pb-4 text-4xl">
    {{ "home.all" | translate }}
    <span class="text-green-700">{{ "home.products" | translate }}</span>
  </h2>
    <!-- Search Bar -->
  <div class="mb-4 searh">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search for a product..."
      class="w-full text-gray-500 p-3 border border-green-400/50 focus:shadow-none rounded-lg focus:outline-none focus:border-green-700 focus:ring-green-700"
    />
  </div>

  <!-- Sorting Dropdown -->
  <div class="mb-6 sorting">
    <select
      [(ngModel)]="sortOption"
      class="p-2 border border-green-400/50 rounded-md focus:outline-none focus:border-green-700 focus:ring-green-700"
    >
      <option value="">Sort by</option>
      <option value="priceLowToHigh">Price: Low to High</option>
      <option value="priceHighToLow">Price: High to Low</option>
      <option value="nameAZ">Name: A–Z</option>
    </select>
  </div>

    <!-- Products Grid -->
  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
    @for (prod of filteredProducts(); track prod.id) {
      <div
        class="card border border-green-400/50 rounded-md overflow-hidden shadow-lg relative"
      >
        <div [routerLink]="['/details', prod.id]">
          <div class="card-img p-6">
            <img
              [src]="prod.image"
              class="w-full h-[150px] object-contain"
              [alt]="prod.title"
            />
          </div>
          <div class="card-body px-2 py-4">
            <h4 class="text-green-500 text-xs">{{ prod.category }}</h4>
            <h3 class="font-medium">
              {{ prod.title.split(' ', 2).join(' ') }}
            </h3>
            <div class="flex justify-between items-center">
              <span>{{ prod.price | currency : "GBP" }}</span>
              <div class="flex items-center">
                <i class="fas fa-star text-yellow-300"></i>
                <span class="text-gray-500">{{ prod.rating.rate }}</span>
              </div>
            </div>
          </div>
        </div>
        <button (click)="addCartItem(1, prod.id, 1)"
          class="bg-green-700 text-white py-2 px-10 border rounded w-[99%] block mx-auto btn-main">
          {{ "home.addToCart" | translate }}
        </button>
      </div>
    }
  </div>

</section>



  <!-- <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
    @for (prod of filteredProducts(); track prod.id) {
    <div
      class="card border border-green-400/50 rounded-md overflow-hidden shadow-lg relative"
    >
      <div [routerLink]="['/details', prod.id]">
        <div class="card-img">
          <img
            [src]="prod.image"
            class="w-full h-[150px] object-contain"
            [alt]="prod.title"
          />
        </div>
        <div class="card-body px-2 py-4">
          <h4 class="text-green-500 text-xs">{{ prod.category }}</h4>
          <h3 class="font-medium">{{ prod.title.split(" ", 2).join(" ") }}</h3>
          <div class="flex justify-between items-center">
            <span>{{ prod.price | currency : "GBP" }}</span>
            <div class="flex items-center">
              <i class="fas fa-star text-yellow-300"></i>
              <span class="text-gray-500">{{ prod.rating.rate }}</span>
            </div>
          </div>
        </div>
      </div>
       <button
        (click)="addCartItem(prod.id)"
        class="bg-green-700 text-white py-2 px-10 border rounded w-[99%] block mx-auto"
      >
        {{ "home.addToCart" | translate }}
      </button>
    </div>
    }
  </div> -->
